section.about
	.about__title CONHEÇA UM POUCO DO CASAL#[br]MAIS FELIZ DO MUNDO
	.container.about__container
		.about__left
			.about__content
				.about__content__text
					.about__title__cursive Leonardo
					.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur cum dolor eaque earum eius expedita facere fugiat fugit id magni neque numquam obcaecati perferendis quae quia quibusdam quod recusandae reprehenderit repudiandae sapiente sequi velit veritatis voluptate, voluptates? Accusamus ducimus eligendi quasi reprehenderit ut! Ad aut autem culpa cum, deserunt doloremque eius enim et, excepturi iste libero, maxime minima necessitatibus neque non perferendis praesentium qui repellat rerum saepe tempore voluptatum.
				img.about__image(data-src="/images/about/leonardo.jpg", alt="Sobre o Leonardo", title="Sobre o Leonardo", loading="lazy")
			.about__meta
				.about__meta__block
					.about__meta__icon.icon.icon--calendar
					span.about__meta__text=LEONARDO.BIRTH_DATE
				a.about__meta__block(href=`https://fb.com/${LEONARDO.FACEBOOK}`, rel="noopener", target="_blank")
					.about__meta__icon.icon.icon--facebook
					span.about__meta__text=LEONARDO.FACEBOOK
				.about__meta__block
					.about__meta__icon.icon.icon--whatsapp
					span.about__meta__text=LEONARDO.WHATSAPP
				a.about__meta__block(href=`https://instagram.com/${LEONARDO.INSTAGRAM}`, rel="noopener", target="_blank")
					.about__meta__icon.icon.icon--instagram
					span.about__meta__text @#{LEONARDO.INSTAGRAM}
		.about__right
			.about__content.about__content--reverse
				img.about__image(data-src="/images/about/jenyfer.jpg", alt="Sobre a Jenyfer", title="Sobre a Jenyfer", loading="lazy")
				.about__content__text
					.about__title__cursive Jenyfer
					.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur cum dolor eaque earum eius expedita facere fugiat fugit id magni neque numquam obcaecati perferendis quae quia quibusdam quod recusandae reprehenderit repudiandae sapiente sequi velit veritatis voluptate, voluptates? Accusamus ducimus eligendi quasi reprehenderit ut! Ad aut autem culpa cum, deserunt doloremque eius enim et, excepturi iste libero, maxime minima necessitatibus neque non perferendis praesentium qui repellat rerum saepe tempore voluptatum.
			.about__meta
				.about__meta__block
					.about__meta__icon.icon.icon--calendar
					span.about__meta__text=JENYFER.BIRTH_DATE
				a.about__meta__block(href=`https://fb.com/${JENYFER.FACEBOOK}`, rel="noopener", target="_blank")
					.about__meta__icon.icon.icon--facebook
					span.about__meta__text=JENYFER.FACEBOOK
				.about__meta__block
					.about__meta__icon.icon.icon--whatsapp
					span.about__meta__text=JENYFER.WHATSAPP
				a.about__meta__block(href=`https://instagram.com/${JENYFER.INSTAGRAM}`, rel="noopener", target="_blank")
					.about__meta__icon.icon.icon--instagram
					span.about__meta__text @#{JENYFER.INSTAGRAM}
	include ../components/Divider
	.container.about__container__bottom
		.about__content
			img.about__image(data-src="/images/about/jenyfereleonardo.jpg", alt="Sobre Jenyfer e Leonardo", title="Sobre Jenyfer e Leonardo", loading="lazy")
			.about__content__text
				.about__title__cursive Jenyfer & Leonardo
				.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur cum dolor eaque earum eius expedita facere fugiat fugit id magni neque numquam obcaecati perferendis quae quia quibusdam quod recusandae reprehenderit repudiandae sapiente sequi velit veritatis voluptate, voluptates? Accusamus ducimus eligendi quasi reprehenderit ut! Ad aut autem culpa cum, deserunt doloremque eius enim et, excepturi iste libero, maxime minima necessitatibus neque non perferendis praesentium qui repellat rerum saepe tempore voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur perferendis quae reiciendis rerum, sint vitae voluptatum? Amet animi debitis dicta fuga, in mollitia, officiis porro quia reprehenderit sunt tempora!