title Jenyfer e Leonardo | Site do Casamento
meta(charset='utf-8')
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description", itemprop="description", content="Site para o grande dia de Jenyfer e Leonardo. Veja como vai funcionar o evento, peça uma música e confirme sua presença. Também é possível nos presentear por aqui!")
meta(name="robots", content="index, follow")
meta(name="distribution", content="Global")
meta(name="rating", content="General")
meta(name="classification", content="Business")
meta(name="fragment", content="!")
meta(name="msapplication-TileColor", content="#E6E6E6")
meta(name="msapplication-TileImage", content=`${host}/favicon/android-chrome-512x512.png`)
meta(name="theme-color", content="#E6E6E6")
meta(name="country", content="Brazil")
meta(name="geo.country", content="-25.480876;-49.304425")
meta(name="geo.region", content="BR-PR")
meta(name="ICBM", content="-25.480876, -49.304425")
meta(name="keywords", itemprop="keywords", content="site de casamento, lista de presentes, jenyfer e leonardo")
meta(name="twitter:image", content=`${host}/favicon/android-chrome-512x512.png`)
meta(name="twitter:title", content="Jenyfer e Leonardo | Site do Casamento")
meta(name="twitter:description", content="Site para o grande dia de Jenyfer e Leonardo. Veja como vai funcionar o evento, peça uma música e confirme sua presença. Também é possível nos presentear por aqui!")
meta(name="twitter:card", content='summary_large_image')
meta(property="og:title", content="Jenyfer e Leonardo | Site do Casamento")
meta(property="og:site_name", content=APP_NAME)
meta(property="og:description", content="Site para o grande dia de Jenyfer e Leonardo. Veja como vai funcionar o evento, peça uma música e confirme sua presença. Também é possível nos presentear por aqui!")
meta(property="og:type", content="website")
meta(property="og:image", content=`${host}/favicon/android-chrome-512x512.png`)
meta(property="og:url", content=url)
link(rel='canonical', href=url)
link(rel='shortcut icon', href='/favicon/favicon.ico')
link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
link(rel='apple-touch-icon', sizes='192x192', href='/favicon/android-chrome-192x192.png')
link(rel='manifest', href='/favicon/manifest.json')
link(rel="stylesheet", href=asset('css/app.css'))
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans+Condensed:300|Open+Sans:300|Pacifico")
script(type="application/ld+json")!=getSchemaJSON()