section.products.container
	each product in products
		.product__wrapper
			.product
				img.product__image(data-src=product.image, alt=product.name, title=product.name, loading="lazy")
				.product__content
					.product__category=product.category
					h2.product__name=product.name
					.product__value=formatMoney(product.value)
					button.button.button--orange(type="button", aria-label="Clique para comprar o produto", id=product.id) COMPRAR